@import "tailwindcss";


@theme inline {
  --font-ibm-sans: var(--font-ibm-sans);
  --font-ibm-serif: var(--font-ibm-serif);
  --font-ibm-mono: var(--font-ibm-mono);

  --color-vpport-white: #ffffff;
  --color-vpport-gray-lightest: #f4f4f2;
  --color-vpport-gray-light: #e8e8e8;
  --color-vpport-gray-medium: #bbbfca;
  --color-vpport-gray-medium: #bbbfca;
  --color-vpport-gray-dark: #495464;
  --color-vpport-black: #000000;
  --color-vpport-warning: #FF5D5D;
}

.bg-texture {
  background-color: var(--color-vpport-gray-lightest);
  opacity: 0.8;
  background-image: radial-gradient(var(--color-vpport-gray-medium) 1px, var(--color-vpport-gray-lightest) 1px);
  background-size: 12px 12px;
}


*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}