@import "tailwindcss";


@theme inline {
  --font-bliss-mood: var(--font-bliss-mood);
  --font-nunito-sans: var(--font-nunito-sans);
  --font-ibm-sans: var(--font-ibm-sans);
  --font-ibm-serif: var(--font-ibm-serif);
  --font-ibm-mono: var(--font-ibm-mono);

  --color-vpport-white: #ffffff;
  --color-vpport-gray-lightest: #f4f4f2;
  --color-vpport-gray-light: #e8e8e8;
  --color-vpport-gray-medium: #bbbfca;
  --color-vpport-gray-medium: #bbbfcd;
  --color-vpport-gray-dark: #495464;
  --color-vpport-black: #000000;
  --color-vpport-warning: #FF5D5D;

}

@layer components {
  .cust-content-container {
    @apply bg-gray-50/50 backdrop-blur-xl ring-2 ring-gray-500/5 rounded-xl px-6 pt-6 pb-12 shadow-2xl shadow-gray-500/10;
  }

  .cust-headline {
    @apply text-black font-nunito-sans font-semibold
  }

  .cust-headline-outline {
    @apply text-white text-shadow-md text-shadow-black font-ibm-serif font-semibold
  }
}

/* Hide scrollbar for Chrome, IE, Edge and Firefox */
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}