@import "tailwindcss";


@theme inline {
  --font-ibm-sans: var(--font-ibm-sans);
  --font-ibm-serif: var(--font-ibm-serif);
  --font-ibm-mono: var(--font-ibm-mono);

  --color-vpport-white: #ffffff;
  --color-vpport-gray-lightest: #f4f4f2;
  --color-vpport-gray-light: #e8e8e8;
  --color-vpport-gray-medium: #bbbfca;
  --color-vpport-gray-medium: #bbbfcd;
  --color-vpport-gray-dark: #495464;
  --color-vpport-black: #000000;
  --color-vpport-warning: #FF5D5D;

}

@layer components {
  .cust-content-container {
    @apply bg-gray-50/25 backdrop-blur-xl ring-2 ring-gray-500/5 rounded-xl px-6 pt-6 pb-12 shadow-2xl shadow-gray-500/10;
  }

  .cust-content-container-transparent {
    @apply px-6 pt-6 pb-12;
  }

  .cust-content-container-sm {
    @apply bg-gray-50/75 backdrop-blur-xl ring-2 ring-gray-500/5 rounded-xl shadow-2xl shadow-gray-500/10;
  }

  .cust-link {
    @apply font-medium underline decoration-2 decoration-dotted decoration-inherit underline-offset-3 hover:opacity-70 hover:decoration-solid
  }

  .cust-font-display {
    @apply font-ibm-serif text-6xl sm:text-8xl md:text-9xl leading-none mb-8
  }

  /* .cust-headline-outline {
    @apply text-white text-shadow-md text-shadow-black font-ibm-serif font-semibold
  } */
}

/* Hide scrollbar for Chrome, IE, Edge and Firefox */
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}